@page
@model WebApplication.Pages.AppointmentServices.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentService[0].Appointment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentService[0].ServiceCatalogItem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AppointmentService) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Appointment.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceCatalogItem.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
